<!DOCTYPE html>
<html lang="es">
<head>
	<title>Page 3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'prueba', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>Experiments#page3</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus inventore odio voluptate adipisci, molestias nesciunt veritatis harum, dolorum molestiae explicabo quas temporibus nisi aliquam nostrum ea beatae et illum aliquid.</p>
</body>
</html>
