<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%= javascript_include_tag 'batman', 'data-turbolinks-track' => false %>
</head>
  <title>Batman</title>
<body class="<%= params[:action] %>">
  <div class="center">
    <p>I am Batman</p>
  </div>
</body>
</html>
