<a href="/pages/batman.html">
  <img src="assets/batman.jpg" alt="Batman" class="superhero">
</a>
<a href="/pages/superman.html">
  <img src="assets/superman.jpg" alt="Superman" class="superhero">
</a>
